@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Varela+Round&display=swap');


* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

main {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
}

.header {
    position: fixed;
    height: 100%;
    width: 98px;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    background: #D1E9F6;
}

.header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.header .img {
    display: flex;
    justify-content: center;
    margin: 0 auto 80px auto;
    height: 50px;
    width: 50px;
    /* background: gray;
    border-radius: 100%; */
}

.header .img img {
    height: 50px;
    width: 50px;
}

.navbar-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
}

.navbar-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 100%;
    border: none;
}

button i {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.navbar-button button:first-child {
    margin-bottom: 30px;
}

.navbar-button .buttons:last-child {
    margin-top: 120px;
}


.dashboard {
    display: flex;
    justify-content: start;
    /* width: calc(100% - 98px); */
    width: 100%;
    height: 100%;


    /* background: red; */

}


.div_input {
    width: 40%;
    height: 100%;
    margin-top: 30px;

}

.div_input .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    padding: 20px;
    background: rgb(210, 224, 251);
    border-radius: 24px;

}

.div_input input {
    width: 100%;
    height: auto;
    background: white;
    padding: 5px;
    border-radius: 24px;
    border: 2px solid #8EACCD;
}

.div_input button {
    width: 100%;
    height: auto;
    background: transparent;
    padding: 5px;
    border-radius: 24px;
    border: 2px solid #8EACCD;
}

.div_input select {
    width: 100%;
    height: auto;
    background: white;
    padding: 5px;
    border-radius: 24px;
    border: 2px solid #8EACCD;
}


.div_dashboard-esquerdo {
    height: 80%;
    width: 55%;
    margin-top: 30px;

}

.area-da-KPI {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    background: rgb(210, 224, 251);
    border-radius: 24px;
    padding: 20px;

}

.area-da-KPI .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 90%;
}

#kpi-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    background: white;
    border-radius: 24px;
}

#kpi-box .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
}

#kpi-box #texto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    font-size: 36px;
}
