@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Varela+Round&display=swap');

:root {
    --cor-derrota: #E1ACAC;
    --cor-vitoria: #B0C5A4;
}

* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    /* background: rgb(255, 0, 0, 0.1); */
}

main {
    display: flex;
    /* height: 150vh; */
    width: 100%;
    flex-direction: row;
}

.header {
    position: fixed;
    height: 100%;
    width: 98px;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    background: #D1E9F6;
}

.header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.header .img {
    display: flex;
    justify-content: center;
    margin: 0 auto 80px auto;
    height: 50px;
    width: 50px;
    /* background: gray;
    border-radius: 100%; */
}

.header .img img {
    height: 50px;
    width: 50px;
}

.navbar-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
}

.navbar-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 100%;
    border: none;
}

button i {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.navbar-button button:first-child {
    margin-bottom: 30px;
}

.navbar-button .buttons:last-child {
    margin-top: 120px;
}







.dashboard {
    display: flex;
    flex-direction: column;
    justify-self: end;
    width: calc(100% - 98px);
    height: 100%;
    margin-left: 98px;
}

.area-top {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    margin-top: 40px;
}

.div_input {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
    background: #8EACCD;
    border-radius: 24px;
}

.div_input .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campos {
    width: 100%;
    padding: 5px 0;
}

.div_input input {
    background: white;
    width: 100%;
    padding: 5px;
    border-radius: 24px;
    border: solid 2px #84a5c8;
}

.div_input .campos:last-child {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 20px;
}

.div_input button {
    background: white;
    width: 50%;
    padding: 5px;
    border-radius: 24px;
    border: solid 2px #84a5c8;
}

.div_input select {
    background: white;
    width: 100%;
    padding: 5px;
    border-radius: 24px;
    border: solid 2px #84a5c8;
}









.div_kpi {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: 100%;
}

.div_kpi .divisao {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    background: #8EACCD;
    border-radius: 24px;
    padding: 20px;
}

.div_kpi .divisao:first-child {
    margin-bottom: 50px;
}

.divisao .container {
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;

}

.kpi-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100px;
    background: white;
    border-radius: 24px;
}

.kpi-box .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    margin-top: 10px;
}

.kpi-box .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}







.area-mid {
    width: 100%;
    height: 40%;
    margin-top: 40px;
    margin-bottom: 100px;
}

.div_grafico {
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    display: flex;
}

.div_grafico .container {
    flex-direction: row;
    justify-content: space-evenly;
    height: 90%;
    width: 95%;
}

.grafico-box {
    display: flex;
    width: 45%;
    height: 100%;
}







.historico {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100%;
}

.historico .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 90%;
    width: 95%;

}

.historico .title h2{
    font-weight: normal;
    font-size: 36px;
}

.historico .box-historico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: #8EACCD;
    gap: 30px
}

.box-historico .historico {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    width: 80%;
    background: transparent;
    border-radius: 24px;
}

.historico .Vitória {
    background: var(--cor-vitoria);
}

.historico .Derrota {
    background: var(--cor-derrota);
}

.historico img{
    height: 50px;
    width: 50px;
}
