@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Varela+Round&display=swap');

* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    background: #0B0B13;
}

nav {
    position: relative;
    display: flex;
    justify-content: center;
    height: 10%;
    width: 90%;
    background: transparent;
    overflow: hidden;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, rgb(115, 115, 115, 0.1), #F0F0F0 ,rgb(115, 115, 115, 0.1)) 1;
}

nav li {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header img {
    display: flex;
    position: absolute;
    height: 70%;
    width: 70%;
}

.banner {
    position: relative;
    height: 90%;
    width: 100%;
    background: red;
}
